<h1>Listing food_parcel_lines</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @food_parcel_lines.each do |food_parcel_line| %>
  <tr>
    <td><%= link_to 'Show', food_parcel_line %></td>
    <td><%= link_to 'Edit', edit_food_parcel_line_path(food_parcel_line) %></td>
    <td><%= link_to 'Destroy', food_parcel_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Food parcel line', new_food_parcel_line_path %>
