<div class="page-header">
  <h1><%=t '.title', :default => 'Welcome To Manna' %></h1>
  
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    </div>
  <% end %>
  
  <p>This is the Manna Food Bank admin application for the Parish of Staines</p>
  <%= image_tag("StPeters.jpg", :alt => "Saint Peters Church") %>
</div>
